/* HOME */

#homeContainer {
  width: 100%;
  height: 100vh;
}

#myName{
  color: #ffffff;
  padding-top: 25%;
  font-weight: bold;
  font-size: 8vh;
  font-family: Arial, Helvetica, sans-serif;
} 

#btnItem{
  margin-top: 2vh;
  margin-right: 1vh;
}

.btn {
  font-size: 2vh;
}

/* EDUCATION */

#educationHeader {
  font-weight: 100;
  font-size: 4vh;
  text-decoration: underline 0.13vh;
  text-underline-position: under;
}

#educationBackground {
  background-color: #f2f2f5;
}

#educationContainer {
  width: 100%;
  height: auto;
}

#educationCard {
  margin: auto;
  float: none;
  margin-bottom: 2.8vh;
  box-shadow: 10px 8px 10px rgba(0, 0, 0, 0.2);
}

#educationDates {
  font-style: italic;
  font-weight: 250;
}

/* ABOUT ME */

#aboutMeContainer {
  width: 100%;
  height: auto;
}

#paragraph {
  font-size: 1.8vh;
  font-weight: 300;
}

#aboutHeader {
  font-weight: 100;
  font-size: 4vh;
  text-decoration: underline 0.13vh;
  text-underline-position: under;
}

h4 {
  font-style: italic;
  font-weight: 280;
  font-size: 1.5vh;
  color: grey;
}

#aboutMeCard {
  overflow: scroll;
  margin: auto;
  float: none;
  margin-bottom: 2.8vh;
  box-shadow: 10px 8px 10px rgba(0, 0, 0, 0.2);
}

/* PORTFOLIO */

#portfolioHeader {
  font-weight: 100;
  font-size: 4vh;
  text-decoration: underline 0.13vh;
  text-underline-position: under;
}

#portfolioBackground {
  background-color: #f2f2f5;
}

#portfolioContainer {
  width: 100%;
  height: auto;
}

#projectCard {
  box-shadow: 10px 8px 10px rgba(0, 0, 0, 0.2);
  overflow: scroll;
  padding-left: 3vh;
  padding-right: 3vh;
  padding-top: 2vh;
  height: 50vh;
}

#projectBtn {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2vh;
  margin-top: 0.1vh;
}

#portfolioBottomPad {
  padding-bottom: 1vh;
}

/* CLOSING */

#closingContainer {
  width: 100%;
  height: 12vh;
}

#particles-js {
  background: rgb(0, 0, 0);
  height: 100vh;
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}
